<template>
  <div class="row">
    <div class="col-12">
      <card title="Create Product">
        <b-form class="raw-content" @submit.prevent="handlingSubmit">
          <b-form-group
            id="input-group-1"
            label="Product Name"
            lavel-for="input-product-name"
          >
            <b-form-input id="input-product-name"
                          v-model="product.name"
                          placeholder="iPhone 12 pro max"
                          type="text"
                          required/>
          </b-form-group>
          <b-form-group
              id="input-group-2"
              label="Category"
              lavel-for="input-product-category"
          >
            <b-form-select id="input-product-category"
                           v-model="product.category_id"
                           :options="categories"
                           required/>
          </b-form-group>
          <b-form-group
              id="input-group-3"
              label="Description"
              lavel-for="input-product-description"
          >
            <b-form-textarea id="input-product-description"
                             v-model="product.description"
                             placeholder="Enter something..."
                             rows="3"
                             required/>
          </b-form-group>
          <b-form-group
              id="input-group-4"
              label="Images"
              lavel-for="input-product-images"
              description="*) Select Multiple or Drag multiple files on here"
          >
            <b-form-file id="input-product-images"
                         placeholder="Choose a file or drop it here..."
                         drop-placeholder="Drop file here..."
                         multiple
                         @change="product.images = $event.target.files"
                         required/>
          </b-form-group>

          <h5 class="mt-4">Product Entries</h5>

          <div class="row" v-for="(entry, idx) in product.entries" :key="idx">
            <b-form-group
                :id="'input-group-entry-size-' + idx"
                label="Size"
                :lavel-for="'input-product-size-' + idx"
                class="col-md-3">
              <b-form-select :id="'input-product-size' + idx"
                             v-model.lazy="entry.size_id"
                             :options="sizes"
                             required/>
            </b-form-group>
            <b-form-group
                :id="'input-group-entry-color-' + idx"
                label="Color"
                :lavel-for="'input-product-color-' + idx"
                class="col-md-3">
              <b-form-select :id="'input-product-color' + idx"
                             v-model.lazy="entry.color_id"
                             :options="colors"
                             required/>
            </b-form-group>
            <b-form-group
                :id="'input-group-entry-qty-' + idx"
                label="Qty"
                :lavel-for="'input-product-qty-' + idx"
                class="col-md-3">
              <b-form-input :id="'input-product-qty' + idx"
                             v-model.lazy="entry.qty"
                             type="number"
                             required/>
            </b-form-group>
            <b-form-group
                :id="'input-group-entry-price-' + idx"
                label="Price (Rp)"
                :lavel-for="'input-product-price-' + idx"
                class="col-md-3">
              <b-form-input :id="'input-product-price' + idx"
                            v-model.lazy="entry.price"
                            type="number"
                            required/>
            </b-form-group>
            <hr>
          </div>
          <div style="float: right">
            <b-button variant="info" size="sm" @click="addVariant">+Add Variant</b-button>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <b-button type="submit" variant="primary" size="lg" class="px-4">Submit</b-button>
          </div>
        </b-form>
      </card>
    </div>
  </div>
</template>

<script>
import { serialize } from 'object-to-formdata'

export default {
  name: "ProductCreate",
  mounted() {
    this.$store.dispatch('fetchCategories')
    this.$store.dispatch('fetchColors')
    this.$store.dispatch('fetchSizes')
  },
  computed: {
    categories() {
      let categories = this.$store.getters.categories

      return categories.map(cat => {
        return { value: cat.id, text: cat.name }
      })
    },
    colors() {
      let colors = this.$store.getters.colors

      return colors.map(color => {
        return { value: color.id, text: color.name }
      })
    },
    sizes() {
      let sizes = this.$store.getters.sizes

      return sizes.map(size => {
        return { value: size.id, text: size.name }
      })
    }
  },
  data() {
    return {
      product: {
        name: '',
        category_id: 1,
        description: '',
        images: [],
        entries: [
          {
            size_id: 1,
            color_id: 1,
            qty: 0,
            price: 0
          }
        ]
      }
    }
  },
  methods: {
    addVariant() {
      this.product.entries.push({
        size_id: 1,
        color_id: 1,
        qty: 0,
        price: 0
      })
    },
    handlingSubmit() {
      const newData = {...this.product}
      delete newData.entries

      const formData = serialize(newData)
      formData.append('entries', JSON.stringify(this.product.entries))

      this.$store.dispatch('storeProduct', formData)
        .then(() => {
          return this.$router.push('/products')
        })
    }
  }
}
</script>

<style scoped>
  .form-control {
    border: 1px solid #CCC5B9;
  }
</style>