<template>
  <div class="row">
    <div class="col-12">
      <card title="Products">
        <div slot="raw-content" class="table-responsive">
          <!-- Filter -->
          <b-row align-h="between">
            <b-col cols="8">
              <div class="row mt-2 ml-2">
                <div class="col-md-4 form-group">
                  <label for="search" class="sr-only">Search</label>
                  <input v-model="search" type="text" class="form-control" id="search"  placeholder="Search here..">
                </div>
                <div class="col-md-4 form-group">
                  <label for="categories" class="sr-only">Category</label>
                  <select v-model="category_id" id="categories" class="form-control">
                    <option value="0" selected>--- All Category ---</option>
                    <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <p-button type="primary" @click.native="filter">
                    Filter
                  </p-button>
                </div>
              </div>
            </b-col>
            <b-col cols="2">
              <router-link to="/products/create">
                <b-button variant="info">+Create</b-button>
              </router-link>
            </b-col>
          </b-row>

          <paper-table :data="products.data">
            <template slot="columns">
              <th>No</th>
              <th style="width: 15%">Image</th>
              <th>Name</th>
              <th>Category</th>
              <th style="width: 25%">Description</th>
              <th>Action</th>
            </template>

            <template slot-scope="{row}">
              <td>{{ row.no }}</td>
              <td>
                <img :src="row.images[0]" :alt="row.name" width="100%">
              </td>
              <td>{{ row.name }}</td>
              <td>{{ row.category.name }}</td>
              <td style="text-align: justify">{{ row.description }}</td>
              <td>
                <b-button variant="secondary" @click="showDetailModal(row.id)">
                  <b-icon icon="eye"></b-icon>
                </b-button>
                <b-button variant="danger" @click="showModal(row)">
                  <b-icon icon="trash"></b-icon>
                </b-button>
              </td>
            </template>
          </paper-table>

          <div class="container-fluid">
            <nav aria-label="Product Navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item" :class="{'disabled': products.links.prev == null}">
                  <button class="page-link" @click="changePage(products.page - 1)">Previous</button>
                </li>
                <li class="page-item" :class="{'active': products.page == n}" v-for="n in products.lastPage">
                  <button class="page-link" @click="changePage(n)">{{ n }}</button>
                </li>
                <li class="page-item" :class="{'disabled': products.links.next == null}">
                  <button class="page-link" @click="changePage(products.page + 1)">Next</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </card>
    </div>

    <!-- Detail Modal -->
    <b-modal ref="detail-modal" size="lg" hide-header hide-footer>
      <div class="row">
        <div class="col-md-4 d-flex flex-column">
          <img v-for="image in productDetail.images" :src="image" :alt="productDetail.name" width="200" class="m-2">
        </div>
        <div class="col-md-8">
          <h4 class="text-center">{{ productDetail.name }}</h4>

          <table>
            <tr class="mb-4">
              <th style="width: 200px">Category</th>
              <td>{{ productDetail.hasOwnProperty('category') ? productDetail.category.name : '' }}</td>
            </tr>
            <tr class="mb-4">
              <th style="width: 20%">Description</th>
              <td>{{ productDetail.description }}</td>
            </tr>
          </table>

          <br>

          <table border="">
            <thead>
              <tr>
                <th style="width: 60px">Size</th>
                <th style="width: 60px">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(price, size, idx) in productDetail.availableSize">
                <td>{{ size }}</td>
                <td>{{ rupiah(price) }}</td>
              </tr>
            </tbody>
          </table>

          <br>
          <h5 class="text">Available Color</h5>
          <div class="color-container">
            <span v-for="(hex, name, idx) in productDetail.availableColor" class="dot" :style="{ backgroundColor: '#' + hex }"></span>
          </div>
        </div>
      </div>
    </b-modal>

    <!-- Delete Modal -->
    <b-modal ref="delete-modal" hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Are you sure?</h3>
        <b-icon variant="warning" icon="exclamation-triangle" font-scale="7.5"></b-icon>
        <br>
        <span>Want to delete product {{ singleProduct.hasOwnProperty('name') ? singleProduct.name : '' }}?</span>
      </div>

      <b-button class="mt-3" variant="outline-danger" block @click="deleteProduct">Delete</b-button>
      <b-button class="mt-2" variant="secondary" block @click="hideModal">Cancel</b-button>
    </b-modal>
  </div>
</template>

<script>
import { PaperTable } from '../../components'
import axios from 'axios'
import { rupiah } from '../../plugins/helpers'

export default {
  name: 'ProductIndex',
  components: {
    PaperTable
  },
  mounted() {
    this.$store.dispatch('fetchProducts')
    this.$store.dispatch('fetchCategories')
  },
  data() {
    return {
      columns: ['No', 'Image', 'Name', 'Category', 'Action'],
      search: '',
      category_id: 0,
      singleProduct: {},
      productDetail: {},
    }
  },
  computed: {
    products() {
      return this.$store.getters.products
    },
    categories() {
      return this.$store.getters.categories
    }
  },
  methods: {
    filter() {
      this.$store.dispatch('fetchProducts', {
        search: this.search,
        category_id: this.category_id
      })
    },
    changePage(page) {
      this.$store.dispatch('fetchProducts', {
        search: this.search,
        category_id: this.category_id,
        page: page
      })
    },
    showModal(product) {
      this.singleProduct = product
      this.$refs['delete-modal'].show()
    },
    showDetailModal(id) {
      axios.get(`products/${id}`)
        .then(res => {
          this.productDetail = res.data.result

          let availableSize = {}
          let availableColor = {}

          res.data.result.entries.forEach(entry => {
            availableSize[entry.size.name] = entry.price
            availableColor[entry.color.name] = entry.color.hex

            this.productDetail.availableSize = availableSize
            this.productDetail.availableColor = availableColor
          })

          console.log(this.productDetail)
        })

      this.$refs['detail-modal'].show()
    },
    hideModal() {
      this.$refs['delete-modal'].hide()
    },
    deleteProduct() {
      this.$store.dispatch('deleteProduct', this.singleProduct.id)
        .then(() => {
          this.hideModal()
        })
    },
    rupiah(number) {
      return rupiah(number)
    }
  }
}
</script>

<style scoped>
  .filter {
    display: flex;
  }

  .form-control {
    border: 1px solid #CCC5B9;
  }

  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot:not(:last-child) {
    margin-right: 10px;
  }
</style>